body {
    background-color: rgb(255, 255, 255);
}

// HEADER
header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    height: 10vh;
    filter: grayscale(100%);

    img {
        height: 90%;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-h1 {
    height: 100vh;
    width: 100%;
    // 
    background-color: whitesmoke;
    background-repeat: round;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 80px;
        text-align: center;
        color: rgb(255, 235, 119);
        // background-color: whitesmoke;
        padding: 20px;
        text-shadow: 2px 2px rgb(0, 0, 0);
        width: 100%;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        legend {
            font-size: 50px;
            text-align: center;
            color: rgb(0, 0, 0);
            // background-color: whitesmoke;
            padding: 10px;
            text-shadow: 2px 2px rgb(255, 235, 119);
            width: 100%;
        }
    }
    input[type=checkbox]{
        transform: scale(2);
   
    }
    .contenedor-inputs{
        display: flex;
        flex-direction: column;
        align-items: start;
        label{
            font-size: 30px;
            padding-left: 20px;
        }
    }
}

.contenedor-banners {
    margin-top: 10px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.banner-actores {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-image: url(../assets/banner-actores.webp);
    object-fit: contain;
    background-position: 0% 25%;
    font-size: 45px;
    color: rgb(255, 235, 119);
    text-shadow: 2px 2px black;
    text-decoration: none;
}

.banner-actrices {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-image: url(../assets/banner-actrices.jpg);
    object-fit: contain;
    background-position: 0% 25%;
    font-size: 45px;
    color: rgb(255, 235, 119);
    text-shadow: 2px 2px black;
    text-decoration: none;
}

.banner-promotoras {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-image: url(../assets/banner-promotoras.jpg);
    object-fit: contain;
    background-position: 0% 25%;
    font-size: 45px;
    color: rgb(255, 235, 119);
    text-shadow: 2px 2px black;
    text-decoration: none;
}

.banner-promotores {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-image: url(../assets/banner-promotores.png);
    object-fit: contain;
    background-position: 0% 25%;
    font-size: 45px;
    color: rgb(255, 235, 119);
    text-shadow: 2px 2px black;
    text-decoration: none;
}